<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/headers.ejs') %>
    <title>NekoNya's Blog</title>
</head>
<body style="background-color: #bbbbbb;">
<%- include('../parts/nav.ejs') %>
<div class="container blog-main">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">NekoNya's Blog</h1>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h1 class="text-center">Welcome to NekoNya's Blog</h1>
                        <p class="text-center fs-3">This is a blog for NekoNya's personal use. Here you can find latest updates, informations and more.</p>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <h2 class="text-center">Latest blogs</h2>
                <div class="col-md-12 align-items-center">
                    <% for (const blog of (blogs.slice(0, 20))) { %>
                        <div class="card w-75 mx-auto">
                            <div class="card-header">
                                <%- new Date(blog.createdAt).toLocaleString(); %>
                            </div>
                            <div class="card-body">
                                <a href="/blog/view/<%- blog.id %>" class="blog-link">
                                    <div class="col flex-nowrap mx-auto">
                                        <h3 class="text-nowrap fs-2"><%- blog.title %></h3>
                                        <p class="card-text"><%- blog.shortDescription %></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../parts/footer.ejs') %>
</body>
</html>